.env
.DS_Store
package-lock.json
/migrations
/test
/build
/node_modules/*
!/node_modules/@openzeppelin
# /contracts/models/TestModel.sol
# /contracts/models/TestETHModel.sol
/contracts/OnlyTransfer.sol
/contracts/EarlyContributorVesting.sol
/contracts/AirdropContract.sol